// Variables
//––––––––––––––––––––––––––––––––––––––––––––––––––

// Breakpoints
$bp-xs: 400px !default;
$bp-sm: 550px !default;
$bp-md: 750px !default;
$bp-lg: 1000px !default;
$bp-xl: 1200px !default;

$bp-max-xs: ("max-width: " + ($bp-xs - 1)) !default;
$bp-min-xs: ("min-width: " + $bp-xs) !default;
$bp-min-sm: ("min-width: " + $bp-sm) !default;
$bp-min-md: ("min-width: " + $bp-md) !default;
$bp-min-lg: ("min-width: " + $bp-lg) !default;
$bp-min-xl: ("min-width: " + $bp-xl) !default;

// Colors
$light-grey: #e1e1e1 !default;
$dark-grey: #333 !default;
$primary-color: #33c3f0 !default;
$secondary-color: lighten($dark-grey, 13.5%) !default;
$border-color: #bbb !default;
$link-color: #1eaedb !default;
$font-color: #222 !default;

// Typography
$font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif !default;

$base-font-family: $font-family !default;
$base-line-height: 1.6 !default;
$base-font-weight: 400 !default;
$base-font-color: $font-color !default;

//Grid Variables
$container-width: 960px !default;
$container-width-min-xs: 85% !default;
$container-width-min-sm: 80% !default;
$container-padding: 0 20px !default;
$container-padding-min-xs: 0 !default;
$container-margin: 0 auto !default;

$grid-float: true !default;

// Misc
$global-radius: 4px !default;
