$button-height: $base-input-height !default;
$button-color: $secondary-color !default;
$button-padding: 0 ($base-spacing-unit * 3) !default;
$button-font-size: 11px !default;
$button-font-weight: 600 !default;
$button-letter-spacing: 0.1rem !default;

$button-bg: transparent !default;

$button-border-width: $base-border-width !default;
$button-border-style: $base-border-style !default;
$button-border-color: $base-border-color !default;

$button-hover-color: $dark-grey !default;
$button-hover-border-color: lighten($button-hover-color, 33.3%) !default;
$button-hover-outline: 0 !default;

$button-focus-color: $button-hover-color !default;
$button-focus-border-color: lighten($button-focus-color, 33.3%) !default;
$button-focus-outline: 0 !default;

$button-primary-color: #fff !default;
$button-primary-bg: $primary-color !default;
$button-primary-border-color: $button-primary-bg !default;

$button-primary-hover-color: $button-primary-color !default;
$button-primary-hover-bg: $link-color !default;
$button-primary-hover-border-color: $button-primary-hover-bg !default;

$button-primary-focus-color: $button-primary-hover-color !default;
$button-primary-focus-bg: $button-primary-hover-bg !default;
$button-primary-focus-border-color: $button-primary-focus-bg !default;

@mixin button () {
  box-sizing: border-box;
  display: inline-block;
  height: $button-height;
  padding: $button-padding;
  color: $button-color;
  text-align: center;
  font-size: $button-font-size;
  font-weight: $button-font-weight;
  line-height: $button-height;
  letter-spacing: $button-letter-spacing;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: $button-bg;
  border-radius: $global-radius;
  border: $button-border-width $button-border-style $button-border-color;
  cursor: pointer;
}

@mixin button-hover () {
  color: $button-hover-color;
  border-color: $button-hover-border-color;
  outline: $button-hover-outline;
}

@mixin button-focus () {
  color: $button-focus-color;
  border-color: $button-focus-border-color;
  outline: $button-focus-outline;
}

@mixin button-primary () {
  color: $button-primary-color;
  background-color: $button-primary-bg;
  border-color: $button-primary-border-color;
}

@mixin button-primary-hover () {
  color: $button-primary-hover-color;
  background-color: $button-primary-hover-bg;
  border-color: $button-primary-hover-border-color;
}

@mixin button-primary-focus () {
  color: $button-primary-focus-color;
  background-color: $button-primary-focus-bg;
  border-color: $button-primary-focus-border-color;
}
