// Base Styles
//––––––––––––––––––––––––––––––––––––––––––––––––––
// NOTE
// html is set to 62.5% so that all the REM measurements
// are based on 10px sizing. So basically 1.5rem = 15px :)

html {
  font-size: 62.5%;
}

body {
  font-size: 1.5em;
  line-height: $base-line-height;
  font-weight: $base-font-weight;
  font-family: $base-font-family;
  color: $base-font-color;

  @if $body-child-section-overflow == false {
    > section {
      // do not allow horizontal overflow
      // beyond this inner wrapper
      overflow-x: hidden;
      width: 100%;
    }
  }
}
