// Utilities
//––––––––––––––––––––––––––––––––––––––––––––––––––

.u-full-width {
  width: 100% !important;
  box-sizing: border-box;
}

.u-max-full-width {
  max-width: 100% !important;
  box-sizing: border-box;
}

.u-pull-right {
  float: right !important;
}

.u-pull-left {
  float: left !important;
}

.u-clearfix,
.u-cf,
%u-clearfix,
%u-cf {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.u-block {
  display: block !important;
}
