@include media('min-xs') {
  .g-whole\@xs {
    width: 100%;
  }
  .g-half\@xs {
    width: 50%;
  }
  .g-third\@xs {
    width: 33.3%;
  }
  .g-twothirds\@xs {
    width: 66.7%;
  }
  .g-quarter\@xs {
    width: 25%;
  }
  .g-threequarters\@xs {
    width: 75%;
  }
  .g-sixth\@xs {
      width: 16.6%;
  }
  .g-eighth\@xs {
      width: 12.5%;
  }
  .g-ninety\@xs {
      width: 90%;
  }
  .g-eighty\@xs {
      width: 80%;
  }
  .g-seventy\@xs {
      width: 70%;
  }
  .g-sixty\@xs {
      width: 60%;
  }
  .g-forty\@xs {
      width: 40%;
  }
  .g-thirty\@xs {
      width: 30%;
  }
  .g-twenty\@xs {
      width: 20%;
  }
  .g-ten\@xs {
      width: 10%;
  }
}

@include media('min-sm') {
  .g-whole\@sm {
    width: 100%;
  }
  .g-half\@sm {
    width: 50%;
  }
  .g-third\@sm {
    width: 33.3%;
  }
  .g-twothirds\@sm {
    width: 66.7%;
  }
  .g-quarter\@sm {
    width: 25%;
  }
  .g-threequarters\@sm {
    width: 75%;
  }
  .g-sixth\@sm {
      width: 16.6%;
  }
  .g-eighth\@sm {
      width: 12.5%;
  }
  .g-ninety\@sm {
      width: 90%;
  }
  .g-eighty\@sm {
      width: 80%;
  }
  .g-seventy\@sm {
      width: 70%;
  }
  .g-sixty\@sm {
      width: 60%;
  }
  .g-forty\@sm {
      width: 40%;
  }
  .g-thirty\@sm {
      width: 30%;
  }
  .g-twenty\@sm {
      width: 20%;
  }
  .g-ten\@sm {
      width: 10%;
  }
}

@include media('min-md') {
  .g-whole\@md {
    width: 100%;
  }
  .g-half\@md {
    width: 50%;
  }
  .g-third\@md {
    width: 33.33%;
  }
  .g-twothirds\@md {
    width: 66.67%;
  }
  .g-quarter\@md {
    width: 25%;
  }
  .g-threequarters\@md {
    width: 75%;
  }
  .g-sixth\@md {
      width: 16.6%;
  }
  .g-eighth\@md {
      width: 12.5%;
  }
  .g-ninety\@md {
      width: 90%;
  }
  .g-eighty\@md {
      width: 80%;
  }
  .g-seventy\@md {
      width: 70%;
  }
  .g-sixty\@md {
      width: 60%;
  }
  .g-forty\@md {
      width: 40%;
  }
  .g-thirty\@md {
      width: 30%;
  }
  .g-twenty\@md {
      width: 20%;
  }
  .g-ten\@md {
      width: 10%;
  }
}

@include media('min-lg') {
  .g-whole\@lg {
    width: 100%;
  }
  .g-half\@lg {
    width: 50%;
  }
  .g-third\@lg {
    width: 33.33%;
  }
  .g-twothirds\@lg {
    width: 66.67%;
  }
  .g-quarter\@lg {
    width: 25%;
  }
  .g-threequarters\@lg {
    width: 75%;
  }
  .g-sixth\@lg {
      width: 16.6%;
  }
  .g-eighth\@lg {
      width: 12.5%;
  }
  .g-ninety\@lg {
      width: 90%;
  }
  .g-eighty\@lg {
      width: 80%;
  }
  .g-seventy\@lg {
      width: 70%;
  }
  .g-sixty\@lg {
      width: 60%;
  }
  .g-forty\@lg {
      width: 40%;
  }
  .g-thirty\@lg {
      width: 30%;
  }
  .g-twenty\@lg {
      width: 20%;
  }
  .g-ten\@lg {
      width: 10%;
  }
}

@include media('min-xl') {
  .g-whole\@xl {
    width: 100%;
  }
  .g-half\@xl {
    width: 50%;
  }
  .g-third\@xl {
    width: 33.33%;
  }
  .g-twothirds\@xl {
    width: 66.67%;
  }
  .g-quarter\@xl {
    width: 25%;
  }
  .g-threequarters\@xl {
    width: 75%;
  }
  .g-sixth\@xl {
      width: 16.6%;
  }
  .g-eighth\@xl {
      width: 12.5%;
  }
  .g-ninety\@xl {
      width: 90%;
  }
  .g-eighty\@xl {
      width: 80%;
  }
  .g-seventy\@xl {
      width: 70%;
  }
  .g-sixty\@xl {
      width: 60%;
  }
  .g-forty\@xl {
      width: 40%;
  }
  .g-thirty\@xl {
      width: 30%;
  }
  .g-twenty\@xl {
      width: 20%;
  }
  .g-ten\@xl {
      width: 10%;
  }
}
