// Forms / Inputs

textarea,
select {
  @include input();
}

input {
  &[type="email"],
  &[type="number"],
  &[type="search"],
  &[type="text"],
  &[type="tel"],
  &[type="url"],
  &[type="password"] {
    @include input();
    // Removes awkward default styles on some inputs for iOS
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}

$textarea-min-height: 65px !default;

textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  min-height: $textarea-min-height;
}

input {
  &[type="email"]:focus,
  &[type="number"]:focus,
  &[type="search"]:focus,
  &[type="text"]:focus,
  &[type="tel"]:focus,
  &[type="url"]:focus,
  &[type="password"]:focus {
    @include input-focus();
  }
}

textarea:focus,
select:focus {
  @include input-focus();
}

label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600;
}

fieldset {
  padding: 0;
  border-width: 0;
}

input {
  &[type="checkbox"],
  &[type="radio"] {
    display: inline;
  }
}

label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal;
}
