// Forms / Inputs

$input-placeholder-color: $border-color !default;
$textarea-min-height: 65px !default;

// chrome autofill overrides
$input-autofill-shadow: 0 0 0 $input-height $input-bg inset;
$input-focus-autofill-shadow: 0 0 0 $input-height $input-focus-bg inset;

textarea,
select {
  @include input();
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &:focus {
    @include input-focus();
  }
}

input {
  &[type="email"],
  &[type="number"],
  &[type="search"],
  &[type="text"],
  &[type="tel"],
  &[type="url"],
  &[type="password"] {
    @include input();
    // Removes awkward default styles on some inputs for iOS
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &:focus {
      @include input-focus();
    }
  }
}

textarea {
  min-height: $textarea-min-height;
}

input,
select,
textarea {
  &::-webkit-input-placeholder { color: $input-placeholder-color; }
  &:-moz-placeholder           { color: $input-placeholder-color; }
  &::-moz-placeholder          { color: $input-placeholder-color; }
  &:-ms-input-placeholder      { color: $input-placeholder-color; }
}

label,
legend {
  display: block;
  margin-bottom: ($base-spacing-unit / 2);
  font-weight: 600;
}

fieldset {
  padding: 0;
  border-width: 0;
}

input {
  &[type="checkbox"],
  &[type="radio"] {
    display: inline;
  }
}

legend > label {
  display: inline-block;
  margin-left: ($base-spacing-unit / 2);
  font-weight: normal;
}

:-webkit-autofill {
  -webkit-box-shadow: $input-box-shadow, $input-autofill-shadow;
  -webkit-text-fill-color: $input-color;

  &:focus {
    -webkit-box-shadow: $input-focus-box-shadow, $input-autofill-shadow;
    -webkit-text-fill-color: $input-focus-color;
  }
}
